@import "@economist/component-typography";
@import "@economist/component-palette";
@import "@economist/component-grid";

.cookie-message--link, .cookie-message--link:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-london);
}

.cookie-message {
  font-family: var(--fontfamily-sans);
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-sans-on-step--2);
  padding: var(--cookiemessage-vertical-padding, var(--grid-spacing-sheep)) var(--cookiemessage-horizontal-padding, var(--grid-gutter-s));
  box-sizing: border-box;
  min-height: var(--cookiemessage-min-height, 64px);
  background: var(--color-berlin);
  overflow: hidden;
}

.cookie-message--close {
  /* Not magic numbers.
   * The icon is supposed to have 1em of height, but it currently has
   * 1em of useless space surrounding it. */
  height: 2em;
  width: 2em;

  fill: var(--color-beijing);
}

.cookie-message--close-wrapper {
  position: absolute;
  right: var(--grid-gutter-s);

  cursor: pointer;

  /* Compensate Icon's white space */
  top: -0.5em;
  right: -0.5em;
  /* Fat-finger friendliness */
  /* padding:1em offsets it to the sides, pull it back in. */
  padding: 1em;
  margin: -1em;
}

.cookie-message--message-container {
  position: relative;
  padding-right: var(--grid-spacing-donkey);
}

@media screen and (min-width: 1024px) {
  .cookie-message--message-container {
    /* Vertically align the cookie message. */
    top: 0.5em;
    top: calc(
      var(--cookiemessage-min-height, 64px) / 2 -
      var(--cookiemessage-vertical-padding, var(--grid-spacing-sheep)) -
      0.5em *
      var(--text-line-height-sans-on-step--2)
    );
  }
}

.cookie-message__link--temporary-cookie-preferences { display: none; }
.cookie-message--link__preferences :only-of-type { display: inline; }

.cookie-message--link:hover {
  color: var(--cookiemessage-link-hover, var(--color-chicago));
  border-bottom: none;
}

.cookie-message--close-wrapper:hover .cookie-message--close {
  fill: var(--cookiemessage-link-hover, var(--color-chicago));
}

